# Compiled JavaScript files
functions/lib/**/*.js
functions/lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

.runtimeconfig.json

functions/lib/**/*.js
functions/lib/projecthandler/PageTree.js.map
*.js
*.map
functions/lib
functions/firebase-debug.log
.firebase/hosting.cHVibGlj.cache
.firebase/hosting.ZnVuY3Rpb25zL3B1YmxpYw.cache
.DS_Store
functions/package-lock.json
